<div class="comtainer">
    <a asp-controller="Pie" asp-action="List" class="btn btn-primary" style="margin:16px; width:127px ">Pie Mangment</a>
    
</div>
<div class="comtainer">
    <a asp-controller="Category" asp-action="List" class="btn btn-primary">Category Mangment</a>

</div>
